<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Modul Mahasiswa</title>
</head>
<body>
  <% datas.forEach(data => { %>
    <ul>
      <li>Nama : <%= data.nama %></li>
      <li>Angkatan : <%= data.stambuk %></li>
      <li>Mata Kuliah : <%= data.nama_matkul %></li>
      <li>Kelas : <%= data.kelas %></li>
      <li>Semester : <%= data.semester %></li>
      <li>Dosen : <%= data.nama_dosen %></li>
      <li>Laboran : <%= data.nama_laboran %></li>
      <li>Asisten Lab : <%= data.nama_aslab %></li>
    </ul>
    <form action="/dashboard/results?_method=PATCH" method="post">
      <input type="hidden" name="id_status" value="<%= data.id_status %>">
      <% for( let i = 1; i <= 8; i++ ) { %>
        <label for="modul_<%= i %>">Modul <%= i %></label>
        <select name="modul_<%= i %>" id="modul_<%= i %>">
          <option value="0" <% if (data['modul_' + i] == '0') { %>selected<% } %>>0</option>
          <option value="1" <% if (data['modul_' + i] == '1') { %>selected<% } %>>1</option>
          <option value="2" <% if (data['modul_' + i] == '2') { %>selected<% } %>>2</option>
        </select>
        <br>
      <% } %>
      <button>Perbaharui!</button>
    </form>
  <% }) %>
    
  </body>
  </html>