<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Status Mahasiswa</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

  </head>
  <body style="background: url('/images/uin.png'); background-size: cover; background-attachment: fixed; background-repeat: no-repeat;">
    
    <div class="container">
      <% if (datas[0].nama_matkul) { %>
        <div class="row m-3 justify-content-center mt-4 ">
          <div  class="col-md-10 bg-light  shadow rounded p-4  ">
            <h3 class="text-center pb-3" style="border-bottom: 1px solid rgb(85, 87, 221);">Daftar Laporan Praktikum</h3>
            <div class="row pt-2 d-flex justify-content-between">
                <div class="col-7 d-flex border justify-content-between  py-3">

                  <div class="col">
                    <div class="row">
                      <div class="col-sm-4">
                        <span><b>Nama</b> </span> <br>
                      </div>
                      <div class="col-sm-8">
                        <span><%= datas[0].nama %></span><br>     
                      </div>
                    </div>
                    <div class="row " style="background-color: rgba(202, 247, 232, 0.39);">
                      <div class="col-sm-4">
                        <span><b>Nim</b></span> 
                      </div>
                      <div class="col-sm-8">
                        <span><%= datas[0].nim %> </span><br>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-4">
                        <span><b>Angkatan</b></span> 
                      </div>
                      <div class="col-sm-8">
                        <span><%= datas[0].stambuk %> </span><br>
                      </div>
                    </div>
                    <div class="row "  style="background-color: rgba(202, 247, 232, 0.39);">
                      <div class="col-sm-4">
                        <span><b>
                        <% if (admin.role == 'aslab') { %>
                          Asisten Lab
                        <% } else { %>
                          Laboran
                        <% } %></b></span> 
                      </div>
                      <div class="col-sm-8">
                        <span><%= admin.nama %></span><br>
                      </div>
                    </div>
                  </div>

                </div>
                
                <div class="col-4  ">
                    <div class="dropdown mb-3 float-end">
                      <button  class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Keterangan
                      </button>
                      <div style="width: 46vh;" class="dropdown-menu p-2">
                        <div class="row p-2">
                          <li class="p-2"><button class="btn btn-sm btn-secondary"><i class="bi bi-calendar"></i></button> Belum Mengumpul</li>
                          <li class="p-2"><button class="btn btn-sm btn-warning"><i class="bi bi-calendar-x"></i></button> Revisi </li>
                          <li class="p-2"><button class="btn btn-sm btn-primary"><i class="bi bi-calendar2-check-fill"></i></button> Tanda tangan Aslab</li>
                          <li class="p-2"><button class="btn btn-sm btn-success"><i class="bi bi-calendar2-check-fill"></i></button> Tanda tangan Laboran</li>
                        </div>
                      </div>
                  </div>
                </div>
            </div>
            <div class="row">
              <div class="row justify-content-between">
                <div class="col">
                </div>
                <div class="col">
                </div>
              </div>
              <div class=" row mt-3">
                <% if (admin.role == 'aslab') { %>
                <div class="col-12 d-flex flex-row-reverse">
                Ingin menambah mahasiswa ini ke kelas kamu?  
                </div>
                <div class="col d-flex flex-row-reverse justify-content-between mt-1">
                <a class="btn btn-primary " href="/dashboard/add/<%= datas[0].nim %>">Tambah</a>
                <% } %>
                <a class="btn btn-secondary float-end " href="/dashboard">Kembali</a>
                </div>
              </div>
            </div>
            <div class="col">
            </div>



            <% datas.forEach(data => { %>

              <div class="col shadow border p-3 mb-5 mt-5 " >
                  <div class="col-sm-8">
                    <div class="dropdown mb-3">
                      <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <%= data.nama_matkul %> | <%= data.semester+'/'+data.kelas %>
                      </button>
                      <div style="padding: 2vh;" class="dropdown-menu p-2 shadow">
                        <div class="row">
                          <div class="row">
                            <div class="col-sm-2">
                              <span><b>Dosen</b> </span> <br>
                            </div>
                            <div class="col">
                              <span>: <%= data.nama_dosen %></span><br>     
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-2">
                              <span><b>
                                <% if(admin.role == 'aslab') { %>
                                  Laboran
                                <% } else { %>
                                  Asisten Laboratorium
                                <% } %>
                              </b>
                             </span> 
                            </div>
                            <div class="col">
                              <span>: 
                                <% if(admin.role == 'aslab') { %>
                                  <%= data.nama_laboran %>
                                <% } else { %>
                                  <%= data.nama_aslab %>
                                <% } %>
                              </span><br>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col overflow-auto ">
            <form action="/dashboard/results?_method=PATCH" method="post">
              <input type="hidden" name="id_status" value="<%= data.id_status %>">
                      <table style="overflow: auto; width: 250vh;" class="table border table-hover ">
                        <tbody>
                            <tr class="text-center ">
                              <th scope="col">Modul 1</th>
                              <th scope="col">Modul 2</th>
                              <th scope="col">Modul 3</th>
                              <th scope="col">Modul 4</th>
                              <th scope="col">Modul 5</th>
                              <th scope="col">Modul 6</th>
                              <th scope="col">Modul 7</th>
                              <th scope="col">Modul 8</th>
                            </tr>
                            <tr class="text-center">

                              <% for( let i = 1; i <= 8; i++ ) { %>
                              
                                
                                <td>
                                  <select class="form-select" name="modul_<%= i %>" id="modul_<%= i %>">
                                    <option
                                      value="0"
                                      <% if(data['modul_'+ i ] == '0') { %>selected<% } %>
                                      <% if(data['modul_' + i] != '0' && admin.role =='aslab') { %>disabled<% } %>
                                      >Belum Mengumpul</option>
                                    <option
                                      value="1"
                                      <% if (data['modul_' + i] == '1') { %>selected<% } %>
                                      <% if ((data['modul_' + i] == '2' || data['modul_' + i] == '3') && admin.role == 'aslab') { %>disabled<% } %>
                                      >Revisi</option>
                                    <option
                                      value="2"
                                      <% if (data['modul_' + i] == '2') { %>selected<% } %>
                                      <% if ((data['modul_' + i] == '3') && admin.role == 'aslab') { %>disabled<% } %>
                                      >TTD Asisten Laboratorium</option>
                                    <option
                                      value="3"
                                      <% if (data['modul_' + i] == '3') { %>selected<% } %>
                                      <% if (admin.role == 'aslab' && data['modul_' + i] != '3') { %>disabled<% } %>
                                      >TTD Laboran</option>
                                  </select>
                                </td>

                              <% } %>
                              
                              
                            </tr>
                          </tbody>
                      </table>
                  </div>
                  <div class="row justify-content-between flex-row-reverse my-3 ms-1">
                    <div class="col-sm-2 p-1">
                      <button class="btn btn-primary">Perbaharui</button>
                    </div>
                    <div class="col-sm-3 p-1">
            </form>

            <form action="/dashboard/deleteFromClass?_method=DELETE" method="POST">
              <input type="hidden" name="id" value="<%= data.id_status %>">
              <button class="btn btn-danger" onclick="return confirm('Apakah anda yakin ingin menghapus kelas <%= data.nama_matkul %> <%= data.semester %>/<%= data.kelas %> dari <%= datas[0].nama %>?')">Hapus dari Kelas</button>
            </form>
                    </div>
                  </div>
              </div>


            <% }) %>



          </div>
        </div>

      


    </div>

    <% } else { %>
      <!-- jika mahasiswa tidak ditemukan -->
      <div class="row m-3  justify-content-center align-items-center  ">
        <div class="col-md-7 p-3 m-2 bg-light rounded shadow">
          <div class="row text-center border-bottom border-primary mb-2 p-2">
            <h2>Mahasiswa</h2>
          </div>
          <div class="row justify-content-between " style="background-color: rgba(218, 236, 250, 0.671);">
            <div class="col">
              <h6> Nama </h6>
            </div> 
            <div class="col">
              <h6><%= datas[0].nama %></h6>
            </div>
          </div>
          <div class="row justify-content-between">
            <div class="col">
              <h6> NIM</h6>
            </div> 
            <div class="col">
              <h6><%= datas[0].nim %></h6>
            </div>
          </div>
          <div class="row justify-content-between " style="background-color: rgba(218, 236, 250, 0.671);" >
            <div class="col">
              <h6> Angkatan </h6>
            </div> 
            <div class="col">
              <h6><%= datas[0].stambuk %></h6>
            </div>
          </div>
          <div class="col d-flex  justify-content-end">
            <p class="mt-5 ">Belum atau tidak di kelas kamu, tambah mahasiswa ini ke kelas kamu?</p>
          </div>
        <div class="col d-flex flex-row-reverse justify-content-between">
          <a class="btn btn-primary" href="/dashboard/add/<%= datas[0].nim %>">Tambah</a>
          <a class="btn btn-secondary float-end" href="/dashboard">Kembali</a>
        </div>
        </div>
      </div>
  <% } %>


    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    
    
  </body>
</html>