<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/css/dashboard.css"/> 

    <!-- Fontawasome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>

    <!----===== Iconscout CSS ===== -->
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"/>

    <title>Admin Dashboard Panel</title>
  </head>
  <body>
    <!-- Notif -->
    
    <%- include('../layouts/navbar') %>

    <section class="dashboard">
      <%- include('../layouts/topbar') %>

      <div class="dash-content">

        <% if (messages.error) { %>
          <div class="alert alert-danger alert-dismissible mt-2" style=" position: relative;">
            <button style="height: fit-content;" type="button" class="close btn lh-1 fs-5 p-0  me-1" data-dismiss="alert" aria-label="close" onclick="closeAlert(this)"><i class="bi bi-x-circle-fill"></i></button>
            <strong>Error!</strong>
            <br/>
            <span class="ms-4 ps-2"><%- messages.error %></span>
          </div>
        <% } %> 
        <% if (messages.success) { %>
          <div class="alert alert-success alert-dismissible mt-2" style=" position: relative;">
            <button style="height: fit-content;" type="button" class="close btn lh-1 fs-5 p-0  me-1" data-dismiss="alert" aria-label="close" onclick="closeAlert(this)"><i class="bi bi-x-circle-fill"></i></button>
            <strong>Success!</strong>
            <br/>
            <span class="ms-4 ps-2"><%- messages.success %></span>
          </div>
        <% } %>
        <div class="overview">
          <div class="title">
            <i class="uil uil-tachometer-fast-alt"></i>
            <span class="text">Data</span>
          </div>
          <div class="boxes justify-content-around">
            <div class="box box1" title="Jumlah Mahasiswa Praktikum">
              <i class="fa-solid fa-graduation-cap"></i>
              <span class="text">Mahasiswa</span>
              <span class="number"><%= amount[0].jumlah.toLocaleString('id-ID') %></span>
            </div>
            <div class="box box2" title="Jumlah Kelas Praktikum">
              <i class="fa-solid fa-computer"></i>
                <span class="text">Kelas</span>
                <span class="number"><%= amount[4].jumlah %></span>
            </div>
            <div class="box box3" title="Hitung Mundur Pengumpulan Laporan">
              <i class="fa-solid fa-stopwatch"></i>
              <span class="text">Deadline</span>
              <span class="number" id="countdown">?</span>
            </div>
            <div class="box box4" title="Jumlah Dosen Praktikum">
              <i class="fa-solid fa-chalkboard-user"></i>
              <span class="text">Dosen</span>
              <span class="number"><%= amount[3].jumlah %></span>
            </div>
            <div class="box box5" title="Jumlah Laboran">
              <i class="fa-solid fa-user-gear"></i>
              <span class="text">Laboran</span>
              <span class="number"><%= amount[2].jumlah %></span>
            </div>
            <div class="box box6" title="Jumlah Asisten Laboratorium">
              <i class="fa-solid fa-users-gear"></i>
              <span class="text">Asisten Laboratorium</span>
              <span class="number"><%= amount[1].jumlah %></span>
            </div>
          </div>
        </div>

        <div class="activity">
          <div class="title">
            <i class="uil uil-clock-three"></i>
            <span class="text">Member</span>
          </div>

          <div class="activity-data">
            <table cellspacing='0'>
              <thead>
                <tr>
                  <th>Nama</th>
                  <th>Role</th>
                  <th>Profile</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <% result.forEach(as => {%>
                  <tr>
                    <td><%= as.nama %></td>
                    <td><%= as.role %></td>
                    <td><a 
                         class="btn btn-primary" href="/profile/<% if(as.role == 'Asisten Laboratorium') { %>aslab<% } else { %><%= as.role.toLowerCase() %><% } %>/<%= as.id %>"
                        >
                      Lihat!
                    </a></td>
                    <td>Aktif</td>
                  </tr>
                <% }) %>

              </tbody>
            </table>
          </div>
        </div>
      </div>
      <%- include('../layouts/footer') %>
    </section>

    <script src="/js/dashboard.js"></script>
  </body>
</html>