<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/css/dashboard.css"/> 

    <!-- Fontawasome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>

    <!----===== Iconscout CSS ===== -->
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"/>

    <title>Admin Dashboard Panel</title>
  </head>
  <body>
    <nav>
      <div class="logo-name">
        <div class="logo-image">
          <img src="/images/logo.jpeg" alt="" />
        </div>
        <span class="logo_name">Dashboard</span>
      </div>

      <div class="menu-items">
        <ul class="nav-links">
          <li>
            <a href="#" title="Ya Dashboard">
              <i class="uil uil-estate"></i>
              <span class="link-name">Dahsboard</span>
            </a>
          </li>
          <li>
            <a href="profile" title="Profile">
              <i class="uil uil-files-landscapes"></i>
              <span class="link-name">Profile</span>
            </a>
          </li>
          <li>
            <a href="#" title="Mahasiswa">
              <i class="uil uil-chart"></i>
              <span class="link-name">Mahasiswa</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="uil uil-thumbs-up"></i>
              <span class="link-name">Gallery</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="uil uil-comments"></i>
              <span class="link-name">Comment</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="uil uil-share"></i>
              <span class="link-name">Share</span>
            </a>
          </li>
        </ul>

        <ul class="logout-mode">
          <li>
            <a href="/dashboard/logout" title="Logout">
              <i class="uil uil-signout"></i>
              <span class="link-name">Logout</span>
            </a>
          </li>

          <li class="mode" title="Dark Mode">
            <a href="#">
              <i class="uil uil-moon"></i>
              <span class="link-name">Dark Mode</span>
            </a>

            <div class="mode-toggle">
              <span class="switch"></span>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <section class="dashboard">
      <div class="top">
        <i class="uil uil-bars sidebar-toggle"></i>
        <div class="search-box">
          <form action="/dashboard/results" method="post">
            <i class="uil uil-search"></i>
            <input type="text" name="nim" placeholder="Search NIM here..." autofocus/>
          </form>
        </div>
        <a href="/profile/<%= admin.role %>/<%= admin.id %>">
          <img src="/images/profile/<%= admin.role %>/<%= admin.nama %>.jpg" alt="Admin" draggable="false"/>
        </a>
      </div>

      <div class="dash-content">

        <% if (messages.error) { %>
          <div class="alert alert-danger alert-dismissible" style="z-index: 10; position: relative;">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Error!</strong>
            <br/>
            <%- messages.error %>
          </div>
        <% } %> 
        <% if (messages.success) { %>
          <div class="alert alert-success alert-dismissible" style="z-index: 10; position: relative;">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong> <br/>
            <%- messages.success %>
          </div>
        <% } %>
        <div class="overview">
          <div class="title">
            <i class="uil uil-tachometer-fast-alt"></i>
            <span class="text">Data</span>
          </div>
          <div class="boxes">
            <div class="box box1" title="Jumlah Mahasiswa Praktikum">
              <i class="fa-solid fa-graduation-cap"></i>
              <span class="text">Mahasiswa</span>
              <span class="number"><%= amount[0].jumlah.toLocaleString('id-ID') %></span>
            </div>
            <div class="box box2" title="Jumlah Kelas Praktikum">
              <i class="fa-solid fa-computer"></i>
                <span class="text">Kelas</span>
                <span class="number"><%= amount[4].jumlah %></span>
            </div>
            <div class="box box3" title="Hitung Mundur Pengumpulan Laporan">
              <i class="fa-solid fa-stopwatch"></i>
              <span class="text">Deadline</span>
              <span class="number" id="countdown">?</span>
            </div>
            <div class="box box4" title="Jumlah Dosen Praktikum">
              <i class="fa-solid fa-chalkboard-user"></i>
              <span class="text">Dosen</span>
              <span class="number"><%= amount[3].jumlah %></span>
            </div>
            <div class="box box5" title="Jumlah Laboran">
              <i class="fa-solid fa-user-gear"></i>
              <span class="text">Laboran</span>
              <span class="number"><%= amount[2].jumlah %></span>
            </div>
            <div class="box box6" title="Jumlah Asisten Laboratorium">
              <i class="fa-solid fa-users-gear"></i>
              <span class="text">Asisten Laboratorium</span>
              <span class="number"><%= amount[1].jumlah %></span>
            </div>
          </div>
        </div>

        <div class="activity">
          <div class="title">
            <i class="uil uil-clock-three"></i>
            <span class="text">Member</span>
          </div>

          <div class="activity-data">
            <table cellspacing='0'>
              <thead>
                <tr>
                  <th>Nama</th>
                  <th>Role</th>
                  <th>Kelas</th>
                  <th>Profile</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <% result.forEach(as => {%>
                  <tr>
                    <td><%= as.nama %></td>
                    <td><%= as.role %></td>
                    <td><button>Lihat</button></td>
                    <td><a 
                          href="/profile/<% if(as.role == 'Asisten Laboratorium') { %>aslab<% } else { %><%= as.role.toLowerCase() %><% } %>/<%= as.id %>"
                        >
                      Lihat!
                    </a></td>
                    <td>Aktif</td>
                  </tr>
                <% }) %>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>

    <script src="/js/dashboard.js"></script>
  </body>
</html>