<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Status Laporan Praktikum</title>
</head>
<body>

  <h1>Hasil Laporan Praktikum</h1>
  <% datas = datas[0] %>
  <%= datas.nama_matkul+" "+datas.semester+"/"+datas.kelas %><br>
  <%= datas.nama_dosen %><br>
  <%= datas.nama_laboran %><br>
  <%= datas.nama_aslab %><br>
  <br>
  <% mahasiswa.forEach(mhs => { %>
    <%= mhs.nama %> <br>
    <%= mhs.nim %> <br>
    <% for( let index = 1; index <= 8; index++ ) { %>
      <%= "Modul_"+index + ": " + mhs['modul_' + index] %>
      <br>
      <% } %>
    <br>
  <% }) %>
</body>
</html>